html {
	background-color: #191919;
	color: #fff;
}

body {
	padding: 10px;
}

header {
	border-bottom: 1px dotted #fff;
/*	margin-bottom: 10px;*/
}

#user img {
	height: 120px;
	width: 120px;
	overflow: hidden;
}

.username {
	color: #72ba52;
}

#graph{
	clear: both;
	font-size: 3em;
	margin: 5px 0;
	height: 735px;
}

.anchorNode {
	height: 25px;
	width: 25px;
}

footer { 
	font-size: 1em;
	margin-top: 10px;
}